version: '3.8'

services:
  db:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: memocards
    ports:
      - '5434:5432'
    volumes:
      - memocards-data:/var/lib/postgresql/data

volumes:
  memocards-data:
